################################################
######## VOIDCHAIN API Configurations ##########
######## Author: Pedro Galveias       ##########
######## Author: Pedro Moleiro        ##########
################################################

## NOTE: Changes made to this file during run time will be reflected on the api.

## WARNING: Do not change the order of the variables defined in this config file

# Defines the id to be used in BFT-SMaRt communication
system.voidchain.api.id = 1001

# Defines the interval (in seconds) in which the API will attempt to fetch new blocks from the node networks
# NOTE: This is not used if there is a node running along side the API
# DEFAULT VALUE = 30
system.voidchain.api.block_sync_timer = 30

# Defines the interval (in seconds) in which the API will submit transactions in it's memory pool to the node network
# DEFAULT VALUE = 5
system.voidchain.api.transaction_submit_timer = 5

# Defines the max amount of transactions to submit to the node network at once
# DEFAULT VALUE = 15
system.voidchain.api.max_transaction_to_submit = 15

## WARINING: Changes to the variables bellow will only be taken into effect after restart

# Defines if the API will instance a Node to be running in the same process as the API
# DEFAULT VALUE = 'false' [ use value between apostrophes (') ]
system.voidchain.api.node = false

# Defines if the API Node instance will be running the block sync server
# DEFAULT VALUE = 'false' [ use value between apostrophes (') ]
system.voidchain.api.node.sync = false
